<div
  id="alert"
  class="fixed left-0 top-0 w-screen h-screen p-5 hidden items-center justify-center z-10 bg-[rgba(0,0,0,.2)]"
>
  <div class="relative bg-white py-2 pl-8 pr-4 rounded-lg w-[min(100%,600px)] shadow-md">
    <h1 class="text-[red] text-2xl mb-2 font-semibold tracking-tighter">Error</h1>
    <span class="absolute left-2 top-1/2 -translate-y-1/2 h-[calc(90%)] rounded-full w-2 bg-[red]"></span>
    <p class="text-slate-600"></p>
    <span
      id="alert-close-btn"
      class="absolute top-0 font-bold cursor-pointer right-2 text-3xl hover:text-[red]"
    >
      ×
    </span>
  </div>
</div>
