<footer class="py-8 px-2">
  <p class="text-center text-sm text-slate-700 tracking-tight mb-4">
    Developed with 💜 by <span title="MCS_ADW_F23_C1_ABDULLAH_232943" class="text-purple-600 font-semibold">Abdullah Altatan</span>
  </p>
  <ul class="flex items-center justify-center gap-2">
    <li>
      <a href="https://www.facebook.com/@abdtt" target="_blank" class="hover:text-purple-600">
        {% include '_includes/icons/Facebook.html' with ratio="2rem" %}
      </a>
    </li>
    <li>
      <a class="hover:text-purple-600" href="https://www.github.com/aaltatan" target="_blank">
        {% include '_includes/icons/Github.html' with ratio="2rem" %}
      </a>
    </li>
    <li>
      <a class="hover:text-purple-600" href="https://codepen.io/aaltatan" target="_blank">
        {% include '_includes/icons/Codepen.html' with ratio="2rem" %}
      </a>
    </li>
  </ul>
</footer>